<?xml version="1.0" encoding="GBK"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:jee="http://www.springframework.org/schema/jee"  
    xmlns:aop="http://www.springframework.org/schema/aop"  
    xmlns:tx="http://www.springframework.org/schema/tx"  
    xmlns:context="http://www.springframework.org/schema/context"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
                        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   
                        http://www.springframework.org/schema/jee   
                        http://www.springframework.org/schema/jee/spring-jee-3.0.xsd  
                        http://www.springframework.org/schema/aop  
                        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd  
                        http://www.springframework.org/schema/tx  
                        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd  
                        http://www.springframework.org/schema/context   
                        http://www.springframework.org/schema/context/spring-context-3.0.xsd">  
    <bean  
        class="org.springframework.jmx.export.annotation.AnnotationMBeanExporter" />  
    <bean id="productServer"
        class="org.springframework.jmx.support.ConnectorServerFactoryBean"  
        depends-on="registry">  
        <property name="objectName" value="connector:product=rmi" />  
        <property name="serviceUrl"  
            value="service:jmx:rmi://localhost/jndi/rmi://localhost:8989/jmxrmi" />  
        <property name="threaded" value="true" />  
        <property name="daemon" value="true" />  
   <!--       <property name="environment">
			<map>
				<entry key="jmx.remote.x.password.file">
					<value>D:\development\workspace\merchant-parent\merchant-order-parent\merchant-order-reverseapply-parent\merchant-order-reverseapply-job\src\main\resources\jmxremote.password</value>
				</entry>
				<entry key="jmx.remote.x.access.file">
					<value>D:\development\workspace\merchant-parent\merchant-order-parent\merchant-order-reverseapply-parent\merchant-order-reverseapply-job\src\main\resources\jmxremote.access</value>
				</entry>
			</map>
		</property>-->
    </bean>  
  
    <bean id="registry"  
        class="org.springframework.remoting.rmi.RmiRegistryFactoryBean">  
        <property name="alwaysCreate" value="false"></property>  
        <property name="port">  
            <value>8989</value>  
        </property>  
    </bean>
    <bean id="htmlAdapter"
     	class="com.sun.jdmk.comm.HtmlAdaptorServer" init-method="start">  
        <property name="port">  
            <value>9093</value>  
        </property>  
    </bean>  
</beans>  